defineFont($fontPath, $fontType = "Regular")
  src:  url($fontPath+'/'+$fontType+'/OpenSans-'+$fontType+'.eot')
  src:  url($fontPath+'/'+$fontType+'/OpenSans-'+$fontType+'.eot') format('embedded-opentype'),
        url($fontPath+'/'+$fontType+'/OpenSans-'+$fontType+'.woff2') format('woff2'),
        url($fontPath+'/'+$fontType+'/OpenSans-'+$fontType+'.woff') format('woff'),
        url($fontPath+'/'+$fontType+'/OpenSans-'+$fontType+'.ttf') format('truetype')
