@import "opensans/variables"
@import "opensans/mixins"
@import "opensans/Light"
@import "opensans/LightItalic"
@import "opensans/Regular"
@import "opensans/Italic"
@import "opensans/Semibold"
@import "opensans/SemiboldItalic"
@import "opensans/Bold"
@import "opensans/BoldItalic"
@import "opensans/ExtraBold"
@import "opensans/ExtraBoldItalic"

body
	font-family: 'Open Sans'
